

tr.detail-row {
  height: 0;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-description {
  padding: 16px;
}
tr.element-row:not(.expanded-row):hover {
  background: #777;
}
