

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  padding: 16px;
}
tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}
