<mat-nav-list>
  <mat-list-item *ngFor="let item of Items; let index = index" [class.selected]='selectedItem === index'
    (click)="load(item)">
    <div mat-line>{{item.name && item.name !== ""?item.name : item.callID}} </div>
    <p mat-line style="font-size: 9pt" *ngIf="item.errorCode&&item.errorCode!=='0'" >
      {{item.errorCode === "0" ? "" : "errorCode:"+item.errorCode}}
    </p>
    <p mat-line style="font-size: 9pt" *ngIf="item.timeSpan||item.endPoint||item.dc||item.env">
      {{item.timeSpan}} {{item.endPoint}} {{item.dc}}-{{item.env}}
    </p>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="edit(item) || $event.stopPropagation() ">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="delete(item) || $event.stopPropagation()">
      <mat-icon>delete</mat-icon>
    </button>

  </mat-list-item>
</mat-nav-list>
