<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon [matMenuTriggerFor]="settingsMenu">menu</mat-icon>
  </button>
  <mat-menu #settingsMenu>
    <button mat-menu-item (click)="SaveLayout()">
      <mat-icon>save</mat-icon>
      <span>Save Layout </span>
    </button>
    <button mat-menu-item (click)="ResetLayout()">
      <mat-icon>clear</mat-icon>
      <span>Reset Layout </span>
    </button>
    <button mat-menu-item (click)="ChangeHistory()">
      <mat-icon>history</mat-icon>
      <span>History </span>
    </button>
  </mat-menu>

  <h1>Tracer</h1>

  <span class="spacer"></span>

  <button mat-icon-button [disabled]="!(links && links.length>0 && _rawEvents && _rawEvents.traceId)">
    <mat-icon class="icon" [matMenuTriggerFor]="menu" matTooltip="Open other apps">
      apps</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <mat-list-item *ngFor="let item of links; let index = index">
      <a target="_blank" href="{{item.link}}">
        <button mat-menu-item>{{item.name}}</button>
      </a>
    </mat-list-item>
  </mat-menu>
  <button mat-icon-button [disabled]="!EnableSave">
    <mat-icon class="icon" aria-hidden="false" (click)="saveFile()" matTooltip="save file">
      cloud_download</mat-icon>
  </button>
  <label style="margin-bottom: -11px">
    <mat-icon class="icon" aria-hidden="false" matTooltip="load form saved file">cloud_upload
      <input type='file' class="displayNone" accept='application/JSON' (input)='openFile($event)'>
    </mat-icon>
  </label>
</mat-toolbar>
