/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/purple-green.css";

.messageText {
  font-size: 16px;
  cursor: pointer;
}

table {
  width: 100%;
}
.mat-cell {
  font-size: 9pt;
}

.mat-footer-row,
.mat-row {
  height: 35 !important;
}
.example-spacer {
  flex: 1 1 auto;
}


/* for firefox   */
.actor {
  font-size: 14px ;
}
.activation0 ,.activation1,.activation2,.activation3,.activation4,.activation5,.activation6,.activation7,.activation8,.activation9,.activation10
{
  fill:#303030 !important;
  stroke:#f8f9fa !important;
}
